/* .active{   
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    font-size: 17px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px black solid;
}

.done{
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    font-size: 17px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px black solid;
}

.act{
    display: flex;
    margin:10px;
    justify-content: center;
    flex-basis: 60%;
}
.don{
    display: flex;
    margin:10px;
    justify-content: center;
    flex-basis: 60%;
}
.date{
    margin: 10px;
    font-size: 14px;
    width: 150px;  
}

.dateTask{
    width: 90px;
}


.btn2{
    height: 20px;
    width: 30px;
    margin-right: 5px;
    font-size: 12px;
}



@media screen and (max-width:1280px) {
    .active{
        flex-wrap: wrap; 
        min-height: 50px;
    }
    .done{
        flex-wrap: wrap;
        min-height: 50px;
    }
    .act{
        flex-basis: 100%;
        margin: 5px;
    }
    .don{
        flex-basis: 100%;
        margin: 5px;
    }
}

  

 

  

 

   */

   .date{
    font-size: 12px;
    max-width: 90px;
   


}